@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Lato&family=Roboto:wght@300;400&display=swap');

/* Global properties */
    /* Font-Size and Letter Spacing */
/* Header and Nav bar */
/* Dropdown Button Rules */
/* Hero and section images */


/* Global properties */
* {
    box-sizing: border-box;
    margin: 0;
    line-height: 1.5;
    padding: 0;
    border: none;
}

body {
    background-color: #C5C4D4;
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
    max-width: 1600px;
}

h3, h4, p {
    padding: 10px 20px;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}

li {
    padding: 0;
}
/* Font-Size and Letter Spacing */

h1 {
    font-size: 150%;
}
/* Header and Nav bar */

header {
    display:block;
    background-color: #b42033;
}
header ul {
    list-style: none;
}

header a {
    color: #f5f5f5;
    text-decoration: none;
}

#logo {
    padding: 20px;
}
nav {
    display: grid;
    grid-template-columns: minmax(auto, 1400px);
    background-color: #3C3B6E;
}

nav li {
    padding: 10px;
}
#menu {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.active {
    color: #C39D16;
}

/* Dropdown Button Rules */

.dropbtn {
    background: #3C3B6E;
    color: whitesmoke;
    font-family: inherit;
    font-size: inherit;
    padding:0;
}

.dropdown-content {
    display: none;
    flex-wrap: wrap;
    font-size: 90%;
    text-align: left;
    height:fit-content;
    max-width: 160px;
    position: absolute;
    z-index: 1;
    overflow:hidden;
    background:#B42033;
    padding: 5px 20px 10px;
    margin-top:10px;
    margin-left: -10px;
}

.dropdown-content a {
    padding-top: 5px;
}
.dropdown:hover .dropbtn {
    background: #B42033;
}
.dropdown:hover .dropdown-content {
    display: flex;
    background: #B42033;
}
#menu li:hover {
    background-color: #B42033;
}
.dropdown:hover, .dropbtn:hover {
    background: #B42033;
}
.dropdown-content a:hover {
    color: #E2CA94;
}

/* Hero and section images */


#hero-outer {
    display:block;
    height: 200px;
    width: 100%;
}

#hero {
    background-image: url("../images/hero.webp");
    background-position: center;
    height: 200px;
    width: 100%;
    background-size: cover; 
}

/* Introduction Section */

.intro {
    max-width: 1200px;
    padding: 20px;
    margin: 10px auto;
}

.intro-box {
    background-color: hsl(241, 30%, 33%);
    color: #FEFEFE;
    padding: 20px;
}

.intro-box h2 {
    padding: 0 0 10px;
    text-align: center;
    border-bottom-style: solid;
    border-width: thin;
    width: fit-content;
    margin:auto;
}
/* Main homepage content - 3 sections/boxes with stages */

.webcards {
    display: grid;
    grid-gap: 2.5%;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    margin: 0 auto;
    max-width: 1400px;  
}

.webcard-img {
    max-height: auto;
    width: 100%;   
}

.webcards h3 {
    padding: 20x 20px 10px;
    color:#3C3B6E;
}

.webcards p {
    padding: 10px 0 20px 20px;
    color:#3C3B6E;
}
.webcards li {
    box-shadow: 5px 10px #3C3B6E;   
    background-color: #FEFEFE;
    text-align: center;
}
.webcard-link{
    display: block;
    text-decoration: none;
    background-color: #3C3B6E;
    color:#FEFEFE;
    padding: 10px;
    width: 100px;
    margin: 0 auto 20px;
    text-align: center;
}

.webcard-link:hover {
    background-color: #B42033;
}

/* Footer */

footer {
    display: block;
    height: auto;
    position: relative;
    background-color: #B42033;
    border-top-style: solid;
    border-top-color: #3C3B6E;
    border-width: 30px;
    padding: 10px;
    margin-top: 100px;
}

.social {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    flex-wrap: wrap;
}

.social li {
    font-size: 1.5rem;
}
.social a {
    color:#FEFEFE;
}

/* Stage pages - Top images */

.stage-container {
    display: block;
    height: 200px;
    width: 100%;
}
#stage-one-img {
    background-image: url("../images/pontoon.webp");
    height: 200px;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    background-color: #B42033;
}
#stage-two-img {
    background-image: url("../images/nsr-race.webp");
    height: 200px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #B42033;
}




/* Stage one page - Prepare */


.prep-art-container {
    display: grid;
    grid-template-columns: repeat(auto, minmax(250px, 1fr));;
    margin: 10px auto;
    gap: .5%;
    
}
.prep-article {
    color:#3C3B6E;
    background-color:#FEFEFE;
    padding: 20px;
    overflow:visible;
    min-width: 0;
    min-height: 0;
    margin: 5px auto;
}

#prep-art-one img,
#prep-art-two img {
    display: block;
    object-fit: cover;
    height: 150px;
    min-width: 0;
    min-height: 0;
    margin: 0 auto 10px;
}

.prep-box {
    background:#3C3B6E;
    padding: 20px 10px;
}

.prep-box li {
    font-size: smaller;
}

.prep-box a {
    color:#e6d09d;
}
/* Stage 2 - Contact page */
.contact-box {
    padding: 20px;
}
/* Media Queries */

@media only screen and (min-width: 600px) {
    #menu, h1 {
        font-size: 200%;
    }
    #menu {
        justify-content: flex-end;
        font-size: 110%;
    }

    #hero, 
    #hero-outer,
    .stage-container,
    #stage-one-img,
    #stage-two-img {
        height: 300px;
    }

    .webcards p {
        height: 125px;
    }
    #prep-art-one img,
    #prep-art-two img {
        width:auto;
        height: 300px;
    }
    .prep-box ul {
        padding-left: 50px;
    }
    footer {
        margin-top: 125px;
    }
}

@media only screen and (min-width: 850px) {
    
    .intro-box {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items:center;
        align-content: center; 
    }

    .intro-box h2 {
        padding: 20px;
        text-align: center;
        border-right-style: solid;
        border-bottom-style: none;
        border-width: thin;
        margin: 0;
    }
    .intro p {
        max-width: 70%;
    }
    footer {
        margin-top: 75px;
    }
    .prep-art-container {
        grid-template-columns: repeat(2, minmax(250px, 1fr));;
    }

@media only screen and (min-width: 1200px) {
    #hero, 
    #hero-outer,
    .stage-container,
    #stage-one-img,
    #stage-two-img {
        height: 450px;
    }
    .webcards p {
        height: 100px;
    }
    footer {
        margin-top: 35px;
    }
}


/* Credits & notes
Letter spacing for roboto - https://www.webdesignerdepot.com/2020/07/the-designers-guide-to-letter-spacing/
Dropdown button from W3 Schools - used CodePen to get it right

Prevent grid from overflowing: https://stackoverflow.com/questions/43311943/prevent-content-from-expanding-grid-items

How to use font awesome icons as bullet points. https://hollypryce.com/font-awesome-bullet-points/
*/
