@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Lato&family=Roboto:wght@300;400&display=swap');

/* Global properties */
    /* Font-Size and Letter Spacing */
/* Header and Nav bar */
/* Dropdown Button Rules */

/* Global properties */
* {
    box-sizing: border-box;
    margin: 0;
    line-height: 1.5;
    padding: 0;
    border: none;
}

body {
    background-color: #C5C4D4;
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
    max-width: 1600px;
}

/* Font-Size and Letter Spacing */

h1 {
    font-size: 150%;
}
/* Header and Nav bar */

header {
    display:block;
    background-color: #b42033;
}
header ul {
    list-style: none;
}

header a {
    color: #f5f5f5;
    text-decoration: none;
}

#logo {
    padding: 20px;
}
nav {
    display: grid;
    grid-template-columns: minmax(auto, 1400px);
    background-color: #3C3B6E;
}

nav li {
    padding: 10px;
}
#menu {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.active {
    color: #C39D16;
}

/* Dropdown Button Rules */

.dropbtn {
    background: #3C3B6E;
    color: whitesmoke;
    font-family: inherit;
    font-size: inherit;
    padding:0;
}

.dropdown-content {
    display: none;
    flex-wrap: wrap;
    font-size: 90%;
    text-align: left;
    height:fit-content;
    max-width: 160px;
    position: absolute;
    z-index: 1;
    overflow:hidden;
    background:#B42033;
    padding: 5px 20px 10px;
    margin-top:10px;
    margin-left: -10px;
}

.dropdown-content a {
    padding-top: 5px;
}
.dropdown:hover .dropbtn {
    background: #B42033;
}
.dropdown:hover .dropdown-content {
    display: flex;
    background: #B42033;
}
#menu li:hover {
    background-color: #B42033;
}
.dropdown:hover, .dropbtn:hover {
    background: #B42033;
}
.dropdown-content a:hover {
    color: #E2CA94;
}


@media only screen and (min-width: 600px) {
    #menu, h1 {
        font-size: 200%;
    }
    #menu {
        justify-content: flex-end;
        font-size: 110%;
    }
/* Credits & notes
Letter spacing for roboto - https://www.webdesignerdepot.com/2020/07/the-designers-guide-to-letter-spacing/
Dropdown button from W3 Schools - used CodePen to get it right
*/
