@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Lato&family=Roboto:wght@300;400&display=swap');


/* Global properties */

* {
    box-sizing: border-box;
    margin: 0;
    line-height: 1.5;
    padding: 0;
}