@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Lato&family=Roboto:wght@300;400&display=swap');

/* Global properties */
/* Font-Size and Letter Spacing */
/* Header and Nav bar */
/* Dropdown Button Rules */
/* Hero and section images */


/* Global properties */
* {
    box-sizing: border-box;
    margin: 0;
    line-height: 1.5;
    padding: 0;
    border: none;
}

body {
    background-color: #C5C4D4;
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
    max-width: 1600px;
}

h3,
h4,
p {
    padding: 10px 20px;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

li {
    padding: 0;
}

/* Font-Size and Letter Spacing */

h1 {
    font-size: 150%;
}

/* Header and Nav bar */

header {
    display: block;
    background-color: #b42033;
}

header ul {
    list-style: none;
}

header a {
    color: #f5f5f5;
    text-decoration: none;
}

#logo {
    padding: 20px;
}

nav {
    display: grid;
    grid-template-columns: minmax(auto, 1400px);
    background-color: #3C3B6E;
}

nav li {
    padding: 10px;
}

#menu {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    padding-right: 20px;
}

.active {
    color: #C39D16;
}

/* Dropdown Button Rules */

.dropbtn {
    background: #3C3B6E;
    color: whitesmoke;
    font-family: inherit;
    font-size: inherit;
    padding: 0;
}

.dropdown-content {
    display: none;
    flex-wrap: wrap;
    font-size: 90%;
    text-align: left;
    height: fit-content;
    max-width: 180px;
    position: absolute;
    z-index: 1;
    overflow: hidden;
    background: #B42033;
    padding: 5px 20px 10px;
    margin-top: 10px;
    margin-left: -10px;
}

.dropdown-content a {
    padding-top: 5px;
}

.dropdown:hover .dropbtn {
    background: #B42033;
}

.dropdown:hover .dropdown-content {
    display: flex;
    background: #B42033;
}

#menu li:hover {
    background-color: #B42033;
}

.dropdown:hover,
.dropbtn:hover {
    background: #B42033;
}

.dropdown-content a:hover {
    color: #E2CA94;
}

/* Hero and section images */


#hero-outer {
    display: block;
    height: 200px;
    width: 100%;
}

#hero {
    background-image: url("../images/hero.webp");
    background-position: center;
    height: 200px;
    width: 100%;
    background-size: cover;
}

/* Introduction Section */

.intro {
    max-width: 1200px;
    padding: 20px;
    margin: 10px auto;
}

.events-intro {
    max-width: 1200px;
    padding: 20px;
    margin: 0 auto;
}

.intro-box {
    background-color: hsl(241, 30%, 33%);
    color: #FEFEFE;
    padding: 20px;
}

.intro-box h2 {
    padding: 0 0 10px;
    text-align: center;
    border-bottom-style: solid;
    border-width: thin;
    width: fit-content;
    margin: auto;
}

/* Main homepage content - 3 sections/boxes with stages */

.webcards {
    display: grid;
    grid-gap: 2.5%;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    margin: 0 auto;
    max-width: 1400px;
}

.webcard-img {
    height: auto;
    width: 100%;
}

.webcards h3 {
    padding: 20px 20px 10px;
    color: #3C3B6E;
}

.webcards p {
    padding: 10px 20px 20px 20px;
    color: #3C3B6E;
}

.webcards li {
    box-shadow: 5px 10px #3C3B6E;
    background-color: #FEFEFE;
    text-align: center;
}

.webcard-link {
    display: block;
    text-decoration: none;
    background-color: #3C3B6E;
    color: #FEFEFE;
    padding: 10px;
    width: 100px;
    margin: 0 auto 20px;
    text-align: center;
}

.webcard-link:hover {
    background-color: #B42033;
}

/* Footer */

footer {
    display: block;
    height: auto;
    position: relative;
    background-color: #B42033;
    border-top-style: solid;
    border-top-color: #3C3B6E;
    border-width: 30px;
    padding: 10px;
    margin-top: 100px;
}

#events-footer {
    margin: 0;
}

.social {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    flex-wrap: wrap;
}

.social li {
    font-size: 1.5rem;
}

.social a {
    color: #FEFEFE;
}

/* Stage pages - Top images */

.stage-container {
    display: block;
    height: 200px;
    width: 100%;
}

#stage-one-img {
    background-image: url("../images/pontoon.webp");
    height: 200px;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    background-color: #B42033;
}

#stage-two-img {
    background-image: url("../images/nsr-race.webp");
    height: 200px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #B42033;
}

#stage-three-img {
    background-image: url("../images/podium.webp");
    height: 200px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #B42033;
}



/* Stage one page - Prepare */


.prep-art-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    margin: 10px auto;
    gap: .5%;
}

.prep-article {
    color: #3C3B6E;
    background-color: #FEFEFE;
    padding: 20px;
    overflow: visible;
    height: 100%;
    margin: 5px auto;
}

.prep-highlight p {
    padding: 5px 5px 5px 20px;

}

#prep-art-one img,
#prep-art-two img {
    display: block;
    object-fit: cover;
    height: 150px;
    min-width: 0;
    min-height: 0;
    margin: 0 auto 10px;
}

.prep-box-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 600px;
    margin: 0 auto;
}

.prep-box,
.small-img {
    min-width: 250px;
    background-size: cover;
    background-position: center;
}

.prep-box {
    display: block;
    background: #3C3B6E;
    flex: 1;
    padding: 10px 20px;
}

.prep-box li {
    font-size: smaller;
}

.prep-box a {
    color: #e6d09d;
}


.small-img {
    height: 200px;
    width: 100%;
    flex: 1;
}

/* Stage 2 - Contact page */

#contact-art-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin: 0 auto;
    max-width: 1400px;


}

.contact-article {
    display: flex;
    flex-wrap: wrap;
    color: #3C3B6E;
    background-color: #FEFEFE;
    margin: 5px auto;
    max-width: 650px;
    height: 100%;

}

.art-two-top {
    padding: 0;
}

#questions h3,
#art-two-top h3 {
    text-align: center;
}

.contact-article p {
    padding-top: 0;
    height: 100%;
}

#questions {
    height: 100%;
}

.contact-box {
    padding: 10px 20px;
}

#contact-art-one img,
#contact-art-two img {
    display: block;
    object-fit: cover;
    height: 150px;
    min-width: 0;
    min-height: 0;
    margin: 0 auto 10px;
}

#contact-art-two img {
    margin: 0 auto 20px;
}

/* Stage 3 - Commit */
#commit-main {
    background: #FEFEFE;
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}

.commit-img {
    max-height: 300px;
    background-size: cover;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    padding: 10px 20px;
}

/* Events page */

.events-wrapper {
    display: flex;
    flex-wrap: wrap;
    grid-template-columns: auto;
}

#events-image {
    background-image: url("../images/Hammersmith-Bridge.webp");
    background-size: cover;
    background-position: center;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.events-wrapper {
    display: flex;
    flex-wrap: wrap;
    max-width: 1400px;
    margin: 0 auto;
    gap: 5px;
    min-height: 100vh;
}



/* Form rules */
.form-container {
    flex: 1;
    color: #FEFEFE;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background: rgba(180, 32, 51, 0.7);
    padding: 20px;
    border: none;
    margin: 0 auto;
    max-width: 400px;
}

.form-container h3,
.form-container h4 {
    padding-left: 0;
}

.form-container h3 {
    font-size: 2em;
}

.form-container h4 {
    font-size: 1.5em;
}

form section {
    padding: 20px;
}

.personal-fields li,
.locale-fields li {
    display: flex;
    flex-wrap: wrap;
    padding: 5px 0;
    align-content: center;
}

.label-space {
    flex: 1 0 100px;
}

.text-input {
    background: #C5C4D4;
    padding: 0.35em 0.75em;
    font-size: 1.1em;
    flex: 1 0 220px;
}

input[type="radio"] {
    margin: 10px 0 0 10px;
    transform: scale(1.5);
}

.join-button {
    padding: 10px 30px;
    border-radius: 20px;
    background: hsl(241, 30%, 33%);
    color: #f5f5f5;
    cursor: pointer;
    font-size: 1em;
    margin: 20px;
}

.join-button:hover {
    background: #C39D16;
    color: #3C3B6E;
    font-size: 1.2em;
}

/*Map rules */
.map {
    flex: 1;
    min-width: 320px;
    align-self: center;
}

.map-responsive {
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}

.map-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;

}

/* Media Queries */

@media only screen and (min-width: 600px) {

    #menu,
    h1 {
        font-size: 200%;
    }

    #menu {
        justify-content: flex-end;
        font-size: 110%;
    }

    #hero,
    #hero-outer,
    .stage-container,
    #stage-one-img,
    #stage-two-img,
    #stage-three-img {
        height: 300px;
    }

    .webcards li {
        margin: 0 10px;
    }

    .webcards p {
        height: 125px;
    }

    #prep-art-one img,
    #prep-art-two img {
        height: 300px;
        width: auto;
    }

    #questions img,
    #art-two-top {
        padding: 0 20px;
    }

    .small-img {
        height: 200px;
        width: 100%;

    }

    .prep-box ul {
        padding-left: 50px;
    }

    #contact-art-one img {
        float: left;
        padding-right: 20px;
    }

    #contact-art-two img {
        float: right;
        padding-left: 20px;
    }

    footer {
        margin-top: 125px;
    }

    .map-container {
        width: 80%;
        margin: 0 auto;
    }

}

@media only screen and (min-width: 850px) {


    .intro-box {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
    }

    .intro-box h2 {
        padding: 20px;
        text-align: center;

        border-width: thin;
        margin: 0;
    }

    .intro p,
    .events-intro p {
        max-width: 70%;
    }

    footer {
        margin-top: 75px;
    }

    .prep-art-container {
        grid-template-columns: repeat(2, minmax(300px, 1fr));
    }


    .prep-box,
    .small-img {
        height: 250px;
        max-width: 400px;
        flex: 1;
    }



    .prep-box li {
        text-decoration: inherit;
        padding: 2.5px;
    }

    #art-two-top {
        width: auto;
    }

    #quote {
        padding: 30px 20px;
    }

    .events-wrapper {
        grid-template-columns: 1fr 1fr;
        gap: 1%;
    }

    #commit-main {
        grid-template-columns: repeat(3, minmax(280px, 1fr));

    }
}

    @media only screen and (min-width: 908px) {
        .intro-box h2 {
            border-right-style: solid;
            border-bottom-style: none;
        }
    }



    @media only screen and (min-width: 1200px) {

        #hero,
        #hero-outer,
        .stage-container,
        #stage-one-img,
        #stage-two-img,
        #stage-three-img {
            height: 450px;
        }

        .webcards p {
            height: 100px;
        }

        .events-intro {
            margin: 40px auto;
        }

        footer {
            margin-top: 35px;
        }
        .form-container {
            max-width: 850px;
        }
    }